*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $base-font;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
