// Colors
$white: #ffffff;
$light: #fefefe;
$grey-light: #e8e8e8;
$grey: #4b5562;
$grey-dark: #999999;
$dark: #2c4058;
$dark-light: #2c4058;
$blue: #55b7ff;
$content-color: #adadad;

$btn-shadow: 0 5px 20px rgba(228, 228, 21, 0.5);

// Fonts
$base-font: "gothambold1";
$secondary-font: "GothamBook";
$third-font: "Open Sans";
$fourth-font: "Gotham Medium Regular";
@function calcRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

$H900: calcRem(80px);
$H800: calcRem(60px);
$H700: calcRem(40px);
$H600: calcRem(32px);
$H500: calcRem(25px);
$H400: calcRem(22px);
$H300: calcRem(20px);
$H200: calcRem(18px);
$H100: calcRem(16px);
$H50: calcRem(14px);
$H10: calcRem(13px);

$screen-desktop: 1024px;
$screen-tablet: 768px;
$screen-mobile: 411px;
