.button {
  background-color: $white;
  font-family: $secondary-font;
  font-size: $H50;
  font-weight: 400;
  line-height: 22px;
  color: $dark;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-align: center;
  border: 1px sold $dark;
  width: 100%;
  padding: 20px 40px;
  outline: solid;

  cursor: pointer;
  display: block;

  @media screen and (min-width: $screen-desktop) {
    width: fit-content;
    border: 1px sold $dark;
  }
  &:hover {
    border-color: red;
  }
}
